{% extends "base.html" %}
{% block content %}
    
   
    <div class="jumbotron text-center">
      <div class="container">
        <h1>Deliver your package, by people already on the move next to you</h1>
        <p>With Nowknock rely on a community of people to delivery your groceries, your latest internet shopping or any package</p>
        <p>It's easy, it's fast, it's social, it's economic!</p>
        <a href="#">Download the app for free</a>
      </div>
    </div> 
  
    <div class="learn-more">
	  <div class="container">
		<div class="row">
	      <div class="col-md-6">
			<h3>Deliver on your way</h3>
			<p>Pick up items around you on you re way to your next destination</p>
			<p>Drop the delivery</p>
			<p>Get paid</p>
			<p><a href="#">Learn more about delivering</a></p>
	      </div>
 	      <div class="col-md-6">
			<h3>Request a delivery</h3>
			<p>Place a request</p>
			<p>The next community members passing by will pick it up</p>
		    <p>The payment is done at reception</p>
			<p><a href="#">Learn more about request for delivery</a></p>
		  </div>
		  </div>
	    </div>
	  </div>
{% endblock %}